.food-log-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 2.9vh;
}

.food-log-categories {
    margin-bottom: 6vh;
    width: 40vw;
}

.food-category-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #FAAB78;
    border: 3px solid #FAAB78;
    font-size: 2vw;
    font-family: 'Archivo', sans-serif;
    font-weight: 800;
    color: #FFDB5A;
    padding: 0.5vw;
}

.add-food-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.5vw;
    border: 3px solid #FAAB78;
    color: #FAAB78;
    border-top: none;


    button {
        background-color: white;
        color: #FAAB78;
        border: none;
        font-size: 2vw;
        font-family: 'Inter', sans-serif;
    }

    img {
        height: 2vw;
        width: 2vw;
        margin-left: 0.75vh;
        filter: invert(69%) sepia(55%) saturate(427%) hue-rotate(333deg) brightness(100%) contrast(97%);
        position: relative;
        top: 0.25vw;
        transition: all 0.1s ease-in-out;
    }

    .add-food {
        transition: all 0.1s ease-in-out;
    }

    button:hover {
        cursor: pointer;

        img {
            transform: scale(1.1);
            filter: invert(91%) sepia(7%) saturate(2013%) hue-rotate(80deg) brightness(98%) contrast(94%);
        }

        .add-food {
            transform: scale(1.1);
            color: #90F1B7;
        }
    }
}



.food-item-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

.food-item {
    border: 3px solid #FAAB78;
    padding: 0.5vw;
    font-size: 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 38.7vw;
    border-top: none;

    span {
        margin-left: 1vw;
    }
}

.remove-from-log {
    margin-right: 1vw;
}

.remove-from-log:hover {
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    transform: scale(1.2);
}

#food-item-quantity {
    background-color: white;
    border: none;
    font-size: 2vw;
}

#food-item-quantity:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.1s ease-in-out;
}


@media only screen and (max-width: 768px) {
    .food-category-box {
        font-size: 2vh;
    }

    .add-food-box {
        width: 39.9vw;

        button {
            font-size: 1.5vh;
        }
    }

}

@media only screen and (max-width: 480px) {
    .food-log-list-container {
        margin-bottom: 0;
        width: 85vw;
    }
    
    .food-category-box {
        width: 85.2vw;
        font-size: 8vw;
        padding: 3vw;
        height: 9vw;
        border: none;
    }
    
    .add-food-box {
        width: 85vw;
        border: 1px solid #FAAB78;
        text-align: right;
        color: #FAAB78;
        padding: 3vw;
        position: relative; 
        bottom: 2px;
        margin-right: 0;
    
    
        button {
            padding-bottom: 10px;
            background-color: white;
            color: #FAAB78;
            border: none;
            font-size: 8vw;
            font-family: 'Inter', sans-serif;
            padding: 0.5vh 0.5vw 1vh 0;
            position: relative;
            top: 1px;
        }
    
        img {
            height: 8vw;
            width: 8vw;
        }

    }
    
    .food-item {
        width: 85vw;
        padding: 3vw;
        font-size: 8vw;
    }
    
    
    #food-item-quantity {
        font-size: 8vw;
    }
    
    
}