.food-log-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    width: 100%;
    gap: 3rem;
}

.food-log-categories {
    width: 100%;
}

.food-category-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #FAAB78;
    border: 3px solid #FAAB78;
    font-size: 2rem;
    font-family: 'Archivo', sans-serif;
    font-weight: 800;
    color: #FFDB5A;
    padding: 1rem;
}

.add-food-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    border: 3px solid #FAAB78;
    color: #FAAB78;
    border-top: none;


    button {
        background-color: white;
        color: #FAAB78;
        border: none;
        font-size: 2rem;
        font-family: 'Inter', sans-serif;
    }

    img {
        height: 2rem;
        width: 2rem;
        margin-left: 0.75vh;
        filter: invert(69%) sepia(55%) saturate(427%) hue-rotate(333deg) brightness(100%) contrast(97%);
        position: relative;
        top: 5px;
        transition: all 0.1s ease-in-out;
    }

    .add-food {
        transition: all 0.1s ease-in-out;
    }

    button:hover {
        cursor: pointer;

        img {
            transform: scale(1.1);
            filter: invert(91%) sepia(7%) saturate(2013%) hue-rotate(80deg) brightness(98%) contrast(94%);
        }

        .add-food {
            transform: scale(1.1);
            color: #90F1B7;
        }
    }
}



.food-item-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    width: 100%;
}

.food-item {
    border: 3px solid #FAAB78;
    padding: 1rem;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    border-top: none;
    width: 100%;
    text-align: left;
}

.remove-from-log:hover {
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    transform: scale(1.2);
}

#food-item-quantity {
    background-color: white;
    border: none;
    font-size: 2rem;
}

#food-item-quantity:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.1s ease-in-out;
}
