.pantry-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    width: 100vw;
    padding: 5rem 2rem;
}

.outside-pantry {
    width: 70%;
    label {
        align-self: flex-start;
        font-size: 3rem;
        font-family: 'Archivo', sans-serif;
        font-weight: 900;
        color: #FAAB78;
    }
}

.inside-pantry {
    margin-top: 10px;
    width: 100%;
    height: 600px;
    border: 7px solid #FAAB78;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.add-food {
    text-align: center;
    

    img {
        height: 8rem;
        width: 8rem;
        margin-bottom: 10px;
        filter: invert(69%) sepia(55%) saturate(427%) hue-rotate(333deg) brightness(100%) contrast(97%);
    }


    span {
        display: block;
        color: #FAAB78;
        font-size: 2rem;
        font-weight: 600;
    }
}


.add-food:hover {
    cursor: pointer;

    img {
        transform: scale(1.1);
        filter: invert(91%) sepia(7%) saturate(2013%) hue-rotate(80deg) brightness(98%) contrast(94%);
        transition: all 0.1s ease-in-out;
    }

    span {
        transform: scale(1.1);
        color: #90F1B7;
        transition: all 0.1s ease-in-out;
    }
}


.pantry-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: 3rem;
    width: 70%;


    button {
        font-size: 2rem;
        padding: 0.5rem 2rem;
        border-radius: 15px;
        border: 3px solid #FAAB78;
        color: #FAAB78;
        background-color: white;
    }

    button:hover {
        background-color: #FAAB78;
        color:white;
        cursor: pointer;
    }

    button:last-child {
        color: #90F1B7;
        border-color: #90F1B7;
    }

    button:last-child:hover {
        background-color: #90F1B7;
        color: white;
    }

}


.pantry-message {
    p {
        font-size: 2rem;
        font-family: 'Archivo', sans-serif;
        font-weight: 900;
        color: #90F1B7;
        text-align: center;
        margin-top: 0;
    }
}



@media only screen and (max-width: 480px) {
    .outside-pantry, .pantry-buttons-container {
        width: 100%;
    }
       
    
    .pantry-buttons-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 3rem;    
    }   
}