.inside-pantry-container {
    max-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    padding: 1rem;

    .pantry-items {
        border: 3px solid #FAAB78;
        padding: 1rem;
        border-radius: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;

        span {
            font-size: 2rem;
            font-family: "Inter", sans-serif;
            font-weight: 500;
            color: #FAAB78;
        }

        .delete-pantry-item {
            font-size: 2rem;
            color: #FAAB78;
            transition: all 0.1s ease-in-out;
        }

        .delete-pantry-item:hover {
            transform: scale(1.1);
            color: #90F1B7;
            cursor: pointer;
        }
        


    }
}

