.empty-message-favorites-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #939393;
    font-size: 4rem;

    #utensils {
        margin-right: 1rem;
    }

    span {
        text-align: center;
    }
}


.favorites-list-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    hr {
        height: 5px;
        background-color: #FAAB78;
        border: 1px solid #FAAB78;
        width: 100vw;
        margin-top: 0;
    }
}

.favorites-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;

    span {
        font-size: 4rem;
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        color: #FAAB78;
    }

    select {
        width: 20rem;
        font-size: 2rem;
        color: #666666;
        border-color: #666666;
    }
}

.favorite-recipes-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fill, 1fr);
    gap: 3rem;
    margin: 3rem 0;
    height: 100%;
    width: 100%;
    padding: 0 3rem;
    overflow-y: scroll;
}

.favorite-recipes {
    width: 100%;
    border: 5px solid #F19090;
    border-radius: 10px;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.favorite-recipe-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    span {
        font-size: 3rem;
        color: #F19090;
        font-weight: 500;
        width: 70%;
    }

    button {
        font-size: 1.5rem;
        height: 4rem;
        padding: 0 1rem;
        background-color: #F19090;
        color: white;
        border: 3px solid #F19090;
        border-radius: 5px;
        font-weight: 400;
    }

    button:hover {
        cursor: pointer;
        background-color: white;
        color: #F19090;
    }
}

.favorite-heart {
    width: 100%;
    text-align: right;

    button {
        background-color: white;
        border: none;
    }

    img {
        filter: invert(78%) sepia(11%) saturate(2957%) hue-rotate(307deg) brightness(101%) contrast(88%);
        width: 3rem;
        height: 3rem;
    }

    img:hover {
        cursor: pointer;
    }
}

@media  only screen and (max-width: 780px) {
    .favorite-recipes-container {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .favorites-title {
            
        select {
            width: 10rem;
            font-size: 2rem;
            color: #666666;
            border-color: #666666;
        }
    }
}

@media  only screen and (max-width: 580px) {    
        
    .favorites-title {
        span {
            font-size: 3rem;
        }

        select {
            width: 5rem;
            font-size: 2rem;
            color: #666666;
            border-color: #666666;
        }
    }
    

}