.page-container {
    display: flex;
    flex-direction: column;
}

.nav-bar-container {
    background-color: #FFDCA9;
    color: #FAAB78;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 0;
}

.logo {
    font-size: 4vw;
    font-family: 'Archivo', sans-serif;
    font-weight: 900;
    position: relative;
    left: 1vw;
    transition: all 0.1s ease-in;
}

.logo:hover {
    transform: scale(1.1);
    cursor: pointer;
    color: #90F1B7;
}

.nav-bar {
    font-size: 2vw;
    font-family: 'Inter', sans-serif; 
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    margin-right: 10vw;
    align-items: center;
    
    width: 35vw;

    span {
        transition: all 0.1s ease-in;
    }

    span:hover {
        transform: scale(1.1);
        cursor: pointer;
        color: #90F1B7;
    }
}

.gear {
    height: 2vw;
    width: 2vw; 
    color: #FAAB78;
    position: relative;
    right: 1vw;
    transition: all 0.1s ease-in;
}

.gear:hover {
    transform: scale(1.1);
    cursor: pointer;
    color: #90F1B7;
}

.bars {
    display: none;
    height: 2.75vh;
    width: 2.75vh; 
    color: #FAAB78;
    position: relative;
    right: 20px;
    transition: all 0.1s ease-in;
}

.bars:hover {
    transform: scale(1.1);
    cursor: pointer;
    color: #90F1B7;
}

.settings {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    top: 6vh;
    z-index: -1;
}

@media only screen and (max-width: 786px) {
    .logo {
        font-size: 4vh;
    }

    .nav-bar {
        font-size: 1.75vh;
    }
}

@media only screen and (max-width: 480px) {
    .nav-bar {
        display: none;
    }

    .bars {
        display: block;
        height: 12vw;
        width: 12vw;
    }

    .gear {
        display: none;
    }

    .nav-bar-container {
        padding: 8vw 0;
    }
    
    .logo {
        font-size: 18vw;
    }
    
    .logo:hover {
        transform: scale(1.1);
        cursor: pointer;
        color: #90F1B7;
    }
    
    
    .settings {
        top: 12vh;
        z-index: 1;
    }
}