.nav-bar-container {
    background-color: #FFDCA9;
    color: #FAAB78;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.logo {
    font-size: 4rem;
    font-family: 'Archivo', sans-serif;
    font-weight: 900;
    position: relative;
    transition: all 0.1s ease-in;
}

.logo:hover {
    transform: scale(1.1);
    cursor: pointer;
    color: #90F1B7;
}

.nav-bar {
    font-size: 2rem;
    font-family: 'Inter', sans-serif; 
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin-right: 10rem;
    align-items: center;
    gap: 1.5rem;
    

    span {
        transition: all 0.1s ease-in;
    }

    span:hover {
        transform: scale(1.1);
        cursor: pointer;
        color: #90F1B7;
    }
}

.gear {
    height: 2rem;
    width: 2rem; 
    color: #FAAB78;
    position: relative;
    transition: all 0.1s ease-in;
    z-index: 1;
}

.gear:hover {
    transform: scale(1.1);
    cursor: pointer;
    color: #90F1B7;
}

.bars {
    display: none;
    height: 2rem;
    width: 2rem; 
    color: #FAAB78;
    position: relative;
    right: 20px;
    transition: all 0.1s ease-in;
    z-index: 2;
}

.bars:hover {
    transform: scale(1.1);
    cursor: pointer;
    color: #90F1B7;
}

.settings {
    position: absolute;
    top: 6rem;
    right: 0;
}

@media only screen and (max-width: 1000px) {
    .nav-bar {
        display: none;
    }

    .bars {
        display: block;
    }

    .gear {
        display: none;
    }   
}

@media only screen and (max-width: 480px) {

    .settings {
        z-index: 1;
    }
}