.grocery-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 10vh;
}

.outside-grocery-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    label {
        align-self: flex-start;
        font-size: 3vw;
        font-family: 'Archivo', sans-serif;
        font-weight: 900;
        color: #FAAB78;
    }

    .grocery-add-button {
        padding: 0.5vw 2vw;
        color: white;
        background-color: #FAAB78;
        border: 3px solid #FAAB78;
        border-radius: 20px;
        font-family: 'Archivo', sans-serif;
        font-size: 2vw;
        font-weight: 600;
    }

    .grocery-add-button:hover {
        cursor: pointer;
        transition: all 0.1s ease-in;
        background-color: #90F1B7;
        border-color: #90F1B7;
        transform: scale(1.1);
    }

}


.inside-grocery-list {
    margin: 10px 0 25px 0;
    width: 70vw;
    height: 50vh;
    border: 7px solid #FAAB78;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grocery-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    color: #b9bbbb;

    .carrot {
        height: 8vw;
        width: 8vw;
        transition: all 0.1s ease-in;
    }

    span {
        font-family: 'Archivo', sans-serif;
        font-size: 2vw;
        font-weight: 600;
        transition: all 0.1s ease-in;
    }

    
}

.style {
    color: #90F1B7;
    transform: scale(1.1);
}


.list-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;


    button {
        font-size: 2vw;
        padding: 0.5vw 2vw;
        border-radius: 15px;
        border: 3px solid #FAAB78;
        color: #FAAB78;
        background-color: white;
    }

    button:hover {
        background-color: #FAAB78;
        color:white;
        cursor: pointer;
    }

    button:last-child {
        color: #90F1B7;
        border-color: #90F1B7;
    }

    button:last-child:hover {
        background-color: #90F1B7;
        color: white;
    }

}

@media only screen and (max-width: 480px) {
    
    .outside-grocery-list {
        margin: 10vw;
    
        label {
            font-size: 10vw;
        }
    
        .grocery-add-button {
            padding: 2vh 5vh;
            margin-top: 5vh;
            margin-bottom: 3vh;
            font-size: 8vw;

        }
    
    }
    
    
    .inside-grocery-list {
        margin: 10px 0 25px 0;
        width: 70vw;
        height: 50vh;
        border: 7px solid #FAAB78;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .grocery-list {
    
        .carrot {
            height: 30vw;
            width: 30vw;
        }
    
        span {
            font-size: 6vw;
        }
    
        
    }
    
    .list-buttons-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3vw;
        margin: 5vh 0;
    
    
        button {
            font-size: 8vw;
            padding: 1.5vh 2vw;
            border-radius: 15px;
            border: 3px solid #FAAB78;
            color: #FAAB78;
            background-color: white;
        }
    
    }
    
}