.nutrition-details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 5vh;
    gap: 2vh;

}

.nutrition-details-categories {
    width: 40vw;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 2.5vh;
    
}

.nutrition-level {
    width: 40vw;
    height: 4vh;
    border: 3px solid #666666;
    margin: 10px 0;
}

.fill-level {
    width: 0%;
    height: 100%;
    background-color: #666666;
    max-width: 100%;
}

.nutrition-quantities {
    text-align: right;
    font-size: 2.5vh;
}


@media only screen and (max-width: 768px) {
    .nutrition-details-categories, .nutrition-quantities {
        font-size: 2vh;
    }

    .nutrition-level {
        height: 3.5vh;
    }
}

@media only screen and (max-width: 480px) {
    .nutrition-details-container {
        width: 85vw;
        gap: 10vw;
    
    }
    
    .nutrition-details-categories {
        width: 85vw;
        font-size: 8vw;
        
    }
    
    .nutrition-level {
        width: 84vw;
        height: 8vh;
        margin: 2vh 0;
    }
    
    .nutrition-quantities {
        font-size: 8vw;
    }
    
}