.main-recipe-page-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;    
    padding: 1vw;

    hr {
        height: 1px;
        background-color: #FAAB78;
        border: 1px solid #FAAB78;
        width: 100%;
        margin-top: 0;
    }
}

.recipe-title-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3vh;

    .recipe-title {
        font-size: 5vw;
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        color: #FAAB78;
        padding-left: 1vw;
    }

    .favorites-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1vw 2vw;
        border: 0.5vw solid #F19090;
        border-radius: 10px;
        color: #F19090;
        gap: 1vw;
        font-size: 3vw;
        margin-right: 1vw;

        span {
            font-family: 'Inter', sans-serif;
            font-weight: 600;
            font-size: 2vw;
            color: #F19090;
        }
    }

    .favorites-container:hover {
        color: white;
        background-color: #F19090;
        cursor: pointer;

        span {
            color: white;
        }
    }
}

.recipe-body-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 3vh;
    gap: 3vw;
}




.recipe-filter-container {
    width: 20vw;
    

    span {
        font-family: 'Archivo', sans-serif;
        font-size: 3vw;
        font-weight: 900;
        color: #FAAB78;
    }

    hr {  
        margin-bottom: 3vh;
        height: 1px;
        background-color: #FAAB78;
        border: 1px solid #FAAB78;
        width: 100%;
    }
}

.recipe-filters {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    margin-bottom: 40px;

    select {
        width: 20vw;
        border: 3px solid #FAAB78;
        color: #FAAB78;
        padding: 0.5vw;
        font-family: 'Inter', sans-serif;
        font-size: 1.5vw;

        option {
            font-size: 1.5vw;
        }
    }

    select:hover {
        cursor: pointer;
    }
}

.filter {

    button {
        font-size:1.5vw;
        padding: 0.5vw 1.5vw;
        background-color: #FAAB78;
        color: white;
        border: none;
        margin-top: 1vh;
        transition: all 0.1s ease-in-out;
    }

    button:hover {
        cursor: pointer;
        background-color: #90F1B7;
    }
}



.recipe-item-attributes {
    text-align: right;
}



.recipe-body-list {
    height: 80vh;
    width: 70vw;
    overflow-y: scroll;
}

.favorite-heart {
    font-size: 2vw;
    color: #FAAB78;
}

@media screen and (max-width: 480px) {
   
    .recipe-title-container {
        width: 100%;
        padding: 2vw;

    
        .recipe-title {
            font-size: 15vw;
            font-family: 'Inter', sans-serif;
            font-weight: 600;
            color: #FAAB78;
            padding-left: 10px;
        }
    
        .favorites-container {
            padding: 4vw;
    
            span {
                display: none;
            }
        }
    
    }
    
    .recipe-body-container {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    
    
    
    
    .recipe-filter-container {
        width: 90vw;
        
    
        span {
            font-size: 10vw;
        }
    
    }
    
    .recipe-filters {
        display: flex;
        flex-direction: column;
        gap: 20vw;
        margin: 10vw 0;
    
        select {
            width: 100%;
            height: 8vh;
            padding-left: 3vw;
            font-size: 5vw;
        }
    
    }
    
    .filter {
    
        button {
            font-size: 5vw;
            padding: 3vw 6vw;
            margin-top: 5vw;
        }

    } 
    
    
    .recipe-body-list {
        height: 75vh;
        width: 80vw;
        margin-bottom: 3.8vh;
        overflow-y: scroll;
    }
}