.main-recipe-page-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;    

    hr {
        height: 1px;
        background-color: #FAAB78;
        border: 1px solid #FAAB78;
        width: 100%;
        margin-top: 0;
    }
}

.recipe-title-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    .recipe-title {
        font-size: 5rem;
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        color: #FAAB78;
    }

    .favorites-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 2rem;
        border: 0.5vw solid #F19090;
        border-radius: 10px;
        color: #F19090;
        gap: 1rem;
        font-size: 3rem;

        span {
            font-family: 'Inter', sans-serif;
            font-weight: 600;
            font-size: 2rem;
            color: #F19090;
        }
    }

    .favorites-container:hover {
        color: white;
        background-color: #F19090;
        cursor: pointer;

        span {
            color: white;
        }
    }
}

.recipe-body-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 3rem;
    gap: 3rem;
    width: 100vw;
}




.recipe-filter-container {
    width: 25%;
    

    span {
        font-family: 'Archivo', sans-serif;
        font-size: 3rem;
        font-weight: 900;
        color: #FAAB78;
    }

    hr {  
        margin-bottom: 3rem;
        height: 1px;
        background-color: #FAAB78;
        border: 1px solid #FAAB78;
        width: 100%;
    }
}

.recipe-filters {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-bottom: 40px;

    select {
        width: 100%;
        border: 3px solid #FAAB78;
        color: #FAAB78;
        padding: 0.5rem;
        font-family: 'Inter', sans-serif;
        font-size: 1.5rem;

        option {
            font-size: 1.5rem;
        }
    }

    select:hover {
        cursor: pointer;
    }
}

.filter {

    button {
        font-size:1.5rem;
        padding: 0.5rem 2rem;
        background-color: #FAAB78;
        color: white;
        border: none;
        margin-top: 1rem;
        transition: all 0.1s ease-in-out;
    }

    button:hover {
        cursor: pointer;
        background-color: #90F1B7;
    }
}



.recipe-item-attributes {
    text-align: right;
}



.recipe-body-list {
    height: 60rem;
    width: 65%;
    overflow-y: scroll;
}

.favorite-heart {
    font-size: 2rem;
    color: #FAAB78;
}

@media screen and (max-width: 768px) { 
    .recipe-body-container {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        margin: 0;
    }  
    
    .recipe-filter-container, .recipe-body-list {
        width: 100%;    
    }
    
    .recipe-filters {
        display: flex;
        flex-direction: column;    
    }

    .recipe-title-container {
        .favorites-container {
            padding: 1rem;
            font-size: 2rem;
            span {
                display: none;
            }
    
        }
    }
    
}

@media screen and (max-width: 480px) {
    .recipe-title-container {
        .recipe-title {
            font-size: 4rem;
        }
    }
}