.register-container {
    min-height: 100vh;
    margin: 0;
    padding: 5rem 0;
    background-color: #FCF9BE;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-box {
    padding: 3rem;
    border-radius: 20px;
    background-color: white;

    button {
        border-radius: 20px;
        padding: 1rem 2rem;
        border: 3px solid #FAAB78;
        background-color: #FAAB78;
        font-size: 2rem;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        color: white;
        margin-bottom: 5px;
    }

    button:hover {
        background-color: white;
        color: #FAAB78;
        cursor: pointer;
    }
}

.register-button-container, .register-title-container {
    text-align: center;
}

.register-title {
    font-size: 4rem;
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
    color: #FAAB78;
}

.register-form {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    width: 100%;


    input {
        width: 100%;
        font-size: 2rem;
        border-radius: 5px;
        border: 2px solid #FAAB78;
    }

    label {
        display: block;
        margin-top: 2rem;
        margin-bottom: 5px;
        font-size: 2rem;
        color: #FAAB78;
    }
}

.register-info {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    color: #FAAB78;
    margin: 2rem 0;

    .signin-link {
        margin-left: 5px;
    }
}


@media screen and (max-width: 768px) {   
    .register-container {
        padding: 5rem 2rem;
    }
     
    .register-box {
        padding: 3rem 2rem;
        width: 500px;
        border-radius: 20px;
        background-color: white;
    
        button {
            border-radius: 20px;
            padding: 0.5rem 2rem;
            border: 3px solid #FAAB78;
            background-color: #FAAB78;
            font-size: 2rem;
            font-family: 'Inter', sans-serif;
            font-weight: 500;
            color: white;
            margin-bottom: 5px;
        }
    
    }
    
    
    .register-title {
        font-size: 4rem;
    }
    
    .register-form {    
    
        input {
            font-size: 1.5rem;
        }
    
        label {
            font-size: 1.5rem;
        }
    }
    
    .register-info {
        font-size: 1.5rem;
    }
    
}