.food-log-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 3vw;
    margin: 6vh 0;


    .food-log, .nutrition-details {
        margin-top: 2vw;
    }

    .food-log-title {
        font-family: 'Archivo', sans-serif;
        font-size: 4vw;
        font-weight: 600;
        color: #FAAB78;
 
    }

    .nutrition-details-title {
        font-family: 'Archivo', sans-serif;
        font-size: 4vw;
        font-weight: 600;
        color: #FAAB78;
    }

}


.nutrition-details {
    grid-row: 1 / span(2);
    padding-left: 4vw;
    
}

.edit-nutrition-details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    button {
        font-size: 1vw;
        margin-left: 1vw;
        padding: 1vw 2vw;
        color: #FAAB78;
        background-color: white;
        border: 1px solid #FAAB78;
        border-radius: 10px;
    }

    button:hover {
        background-color: #FAAB78;
        color: white;
        cursor: pointer;
    }
}

@media only screen and (max-width: 480px) {
    .food-log-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 3vw;
        margin: 10vw 0;
        

    
        .food-log-title {
            font-size: 15vw;   
        }
    
        .nutrition-details-title {
            font-size: 15vw;
        }
    
    }
    
    .edit-nutrition-details {
        button {
            padding: 0.75vh 3vw;
            font-size: 5vw;
        }   
    }
}