.food-log-container {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 5rem 0;


    .food-log-title {
        font-family: 'Archivo', sans-serif;
        font-size: 4rem;
        font-weight: 600;
        color: #FAAB78;
 
    }

    .nutrition-details-title {
        font-family: 'Archivo', sans-serif;
        font-size: 4rem;
        font-weight: 600;
        color: #FAAB78;
    }

}

.food-log, .nutrition-details {
    width: 40%;
}


.edit-nutrition-details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    button {
        font-size: 1rem;
        margin-left: 1rem;
        padding: 0.5rem;
        color: #FAAB78;
        background-color: white;
        border: 1px solid #FAAB78;
        border-radius: 10px;
    }

    button:hover {
        background-color: #FAAB78;
        color: white;
        cursor: pointer;
    }
}

@media only screen and (max-width: 768px) {
    .food-log-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5rem;
        padding: 0 2rem;
    
    }

    .food-log, .nutrition-details {
        width: 100%;
    }
}