.recipe-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    

    .recipe-list-item-container {
        width: 100%;
        border: 5px solid #FAAB78;
        border-radius: 10px;
        padding: 0.5rem;

        .recipe-item-title {
            display: flex;
            justify-content: space-between;
            font-family: 'Inter', sans-serif;

            .recipe-title-box {
                width: 60%;
            }

            span {
                font-size: 3rem;
                font-weight: 500;
                color: #FAAB78;
            }

            button {
                height: 4rem;
                padding: 0 2rem;
                background-color: #FAAB78;
                border: 3px solid #FAAB78;
                border-radius: 5px;
                color: white;
                font-size: 1.5rem;
            }

            button:hover {
                background-color: white;
                color: #FAAB78;
                cursor: pointer;
            }
        }
    }
}

.recipe-item-attributes {
    margin-top: 20px;
}

.empty-message-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        font-size: 2.5rem;
        width: 100%;
        color: #666666;
        text-align: center;
    }

    button {
        padding: 1rem 2rem;
        margin-top: 1rem;
        font-size: 2rem;
        border-radius: 10px;
        color: #FAAB78;
        background-color: white;
        border: 1px solid #FAAB78;
    }

    button:hover {
        cursor: pointer;
        background-color: #FAAB78;
        color: white;
    }
}

.recipe-item-attributes {
    button {
        border: none;
        background-color: white;
    }

    img {
        filter: invert(78%) sepia(11%) saturate(2957%) hue-rotate(307deg) brightness(101%) contrast(88%);
        height: 3rem;
        width: 3rem;
    }

    img:hover {
        cursor: pointer;
    }
}
