.food-log-modal-container, .food-log-modal-overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 2;
}

.food-log-modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.food-log-modal-overlay {
    background: rgba(49,49,49,0.8);
}

.food-log-modal-content {
    z-index: 2;
}


.log-container {
    background: white;
    border-radius: 10px;
    width: 60vw;
    padding-bottom: 3vh;
}

.log-title {
    width: 100%;
    background-color: #FAAB78;
    padding: 2vh 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px 10px 0 0;
    color: #FFDB5A;

    span {
        font-family: "Inter", sans-serif;
        font-size: 3vw;
        font-weight: 800;
        padding-left: 1vw;
    }
}

.exit-food-log-modal {
    height: 3vw;
        width: 3vw;
        padding-right: 1vw;
        transition: all 0.1s ease-in-out;
}

.exit-food-log-modal:hover {
    transform: scale(1.4);
    cursor: pointer;
}

.log-search-container {
    margin-top: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vw;
    padding: 0 1vw;

    input {
        padding: 1vw;
        width: 83.5%;
        border: 3px solid #FAAB78;
        border-radius: 10px;
        font-size: 2vw;
    }

    .search-log {
        height: 2vw;
        width: 2vw;
        color: #FAAB78;
    }

    button {
        padding: 1vw;
        border: 3px solid #FAAB78;
        border-radius: 10px;
        background-color: white;
    }

    button:hover {
        background-color: #FAAB78;
        cursor: pointer;
        
        .search-log {
            color: white;
        }
    }
}

.log-results-larger-container {
    margin-top: 2vw;
    height: 50vh;
    font-family: "Inter", sans-serif;
    overflow-y: scroll;
    padding: 0 0.5vw;
}

.log-results-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

.log-search-results {
    padding: 1vw;
    width: 92%;       
    border: 3px solid #FAAB78;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
        font-size: 2vw;
        color: #FAAB78;
    }

    button {
        padding: 0.5vw 1vw;
        border-radius: 10px;
        color: white;
        border: 2px solid #FAAB78;
        background-color: #FAAB78; 
        font-size: 1vw;
    }

    button:hover {
        cursor: pointer;
        background-color: #90F1B7;
        border-color: #90F1B7;
    }
}

.popup {
    animation: popup 300ms ease-in-out forwards;
}

@keyframes popup {
    0%{
      transform: scale(0);
    }
    100%{
      transform: scale(1);
    }
  }

  @media screen and (max-width: 480px) {
    .food-log-modal-container, .food-log-modal-overlay {
        height: 100%;
    }
       
    
    .log-container {
        width: 90vw;
        height: 70vh;
    }

    .log-title {
        span {
            padding: 2vh;
            font-size: 10vw;
        }

        .exit-food-log-modal {
            height: 10vw;
            width: 10vw;
            padding-right: 2vh;
        }
    }
    
        
    .log-search-container {
        margin-top: 3vh;
        gap: 2vw;
    
        input {
            width: 60vw;
            height: 6vh;
            font-size: 8vw;
        }
    
        .search-log {
            height: 7vw;
            width: 7vw;
            padding: 1vh;
        }
    }
    
    .log-results-larger-container {
        margin-top: 3vh;
        height: 42vh;
    }

    .log-results-container {
        gap: 5vh;
    }
    
    .log-search-results {
        width: 76vw;
        padding: 15px;
    
        span {
            font-size: 8vw;
        }
    
        button {
            font-size: 5vw;
            padding: 2vw 5vw;
        }
    }
  }