.food-log-modal-container, .food-log-modal-overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 2;
}

.food-log-modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.food-log-modal-overlay {
    background: rgba(49,49,49,0.8);
}

.food-log-modal-content {
    z-index: 2;
    width: 70%;
    height: 70%;
    overflow: hidden;
}


.log-container {
    background: white;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.log-title {
    background-color: #FAAB78;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px 10px 0 0;
    color: #FFDB5A;

    span {
        font-family: "Inter", sans-serif;
        font-size: 3rem;
        font-weight: 800;
    }
}

.exit-food-log-modal {
        height: 3rem;
        width: 3rem;
        transition: all 0.1s ease-in-out;
}

.exit-food-log-modal:hover {
    transform: scale(1.4);
    cursor: pointer;
}

.log-search-container {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    input {
        padding: 1rem;
        width: 100%;
        border: 3px solid #FAAB78;
        border-radius: 10px;
        font-size: 2rem;
    }

    .search-log {
        height: 2rem;
        width: 2rem;
        color: #FAAB78;
    }

    button {
        padding: 1rem;
        border: 3px solid #FAAB78;
        border-radius: 10px;
        background-color: white;
    }

    button:hover {
        background-color: #FAAB78;
        cursor: pointer;
        
        .search-log {
            color: white;
        }
    }
}

.log-results-larger-container {
    margin: 1rem;
    height: 100%;
    font-family: "Inter", sans-serif;
    overflow-y: scroll;
}

.log-results-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.log-search-results {
    padding: 1rem;
    width: 100%;       
    border: 3px solid #FAAB78;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
        font-size: 2rem;
        color: #FAAB78;
    }

    button {
        padding: 0.5rem 1rem;
        border-radius: 10px;
        color: white;
        border: 2px solid #FAAB78;
        background-color: #FAAB78; 
        font-size: 1rem;
    }

    button:hover {
        cursor: pointer;
        background-color: #90F1B7;
        border-color: #90F1B7;
    }
}

.popup {
    animation: popup 300ms ease-in-out forwards;
}

@keyframes popup {
    0%{
      transform: scale(0);
    }
    100%{
      transform: scale(1);
    }
  }

  @media screen and (max-width: 480px) {
    .food-log-modal-container {
        padding: 4rem 2rem;
    }

    .food-log-modal-content {
        width: 100%;
        height: 100%;
    }
  }