.pantry-modal-container, .pantry-modal-overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 3;
}

.pantry-modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
    

.pantry-modal-overlay {
    background: rgba(49,49,49,0.8);
}

.pantry-modal-content {
    position: relative;
    z-index: 4;
    width: 70%;
    height: 70%;
    overflow: hidden;
}


.pantry-search-container {
    background: white;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    
}

.pantry-search-title {
    background-color: #FAAB78;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px 10px 0 0;
    color: white;

    span {
        font-family: "Inter", sans-serif;
        font-size: 3rem;
        font-weight: 400;
    }

    .exit-pantry {
        height: 3rem;
        width: 3rem;
        transition: all 0.1s ease-in-out;
    }

    .exit-pantry:hover {
        transform: scale(1.1);
        color: #90F1B7;
        cursor: pointer;
    }
}

.pantry-search-bar {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    button {
        padding: 1rem;
        border: 3px solid #FAAB78;
        border-radius: 10px;
        background-color: white;

        .pantry-search-button {
            height: 2rem;
            width: 2rem;
            color: #FAAB78;
        }
    }

    button:hover {
        border-color: #90F1B7;
        background-color: #90F1B7;
        cursor: pointer;

        .pantry-search-button {
            color: white;
        }
    }

    input {
        padding: 1rem;
        width: 100%;
        border: 3px solid #FAAB78;
        border-radius: 10px;
        font-size: 2rem;
    }
}

.popup {
    animation: popup 300ms ease-in-out forwards;
}

@keyframes popup {
    0%{
      transform: scale(0);
    }
    100%{
      transform: scale(1);
    }
  }


.pantry-search-results-container {
    margin: 1rem;
    font-family: "Inter", sans-serif;
    height: 100%;
    overflow-y: scroll;


    .pantry-search-results-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        
    }

    .pantry-search-results {
        padding: 1rem;
        width: 100%;       
        border: 3px solid #FAAB78;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
            font-size: 2rem;
            color: #FAAB78;
        }
        
        button {
            padding: 0.5rem 1rem;
            border-radius: 10px;
            color: white;
            border: 2px solid #FAAB78;
            background-color: #FAAB78; 
            font-size: 2rem;
        }

        button:hover {
            cursor: pointer;
            background-color: #90F1B7;
            border-color: #90F1B7;
        }
    }
}

.checked {
    background-color: #90F1B7;
}

@media screen and (max-width: 480px) {
    .pantry-modal-container {
        padding: 4rem 2rem;
    }

    .pantry-modal-content {
        position: relative;
        z-index: 4;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
}