.pantry-modal-container, .pantry-modal-overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 3;
}

.pantry-modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
    

.pantry-modal-overlay {
    background: rgba(49,49,49,0.8);
}

.pantry-modal-content {
    position: relative;
    z-index: 4;
}


.pantry-search-container {
    background: white;
    border-radius: 10px;
    width: 60vw;
    padding-bottom: 3vh;
}

.pantry-search-title {
    width: 100%;
    background-color: #FAAB78;
    padding: 2vh 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px 10px 0 0;
    color: white;

    span {
        font-family: "Inter", sans-serif;
        font-size: 3vw;
        font-weight: 400;
        padding-left: 1vw;
    }

    .exit-pantry {
        height: 3vw;
        width: 3vw;
        padding-right: 1vw;
        transition: all 0.1s ease-in-out;
    }

    .exit-pantry:hover {
        transform: scale(1.1);
        color: #90F1B7;
        cursor: pointer;
    }
}

.pantry-search-bar {
    margin-top: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vw;
    padding: 0 1vw;

    button {
        padding: 1vw;
        border: 3px solid #FAAB78;
        border-radius: 10px;
        background-color: white;

        .pantry-search-button {
            height: 2vw;
            width: 2vw;
            color: #FAAB78;
        }
    }

    button:hover {
        border-color: #90F1B7;
        background-color: #90F1B7;
        cursor: pointer;

        .pantry-search-button {
            color: white;
        }
    }

    input {
        padding: 1vw;
        width: 83.5%;
        border: 3px solid #FAAB78;
        border-radius: 10px;
        font-size: 2vw;
    }
}

.popup {
    animation: popup 300ms ease-in-out forwards;
}

@keyframes popup {
    0%{
      transform: scale(0);
    }
    100%{
      transform: scale(1);
    }
  }


.pantry-search-results-container {
    margin-top: 2vw;
    height: 50vh;
    font-family: "Inter", sans-serif;
    overflow-y: scroll;
    padding: 0 0.5vw;

    .pantry-search-results-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2vw;
        
    }

    .pantry-search-results {
        padding: 1vw;
        width: 92%;       
        border: 3px solid #FAAB78;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
            font-size: 2vw;
            color: #FAAB78;
        }
        
        button {
            padding: 0.5vw 1vw;
            border-radius: 10px;
            color: white;
            border: 2px solid #FAAB78;
            background-color: #FAAB78; 
            font-size: 2vw;
        }

        button:hover {
            cursor: pointer;
            background-color: #90F1B7;
            border-color: #90F1B7;
        }
    }
}

.checked {
    background-color: #90F1B7;
}

@media screen and (max-width: 480px) {
    .pantry-modal-container, .pantry-modal-overlay {
        height: 100%;
    }

    
    .pantry-search-container {
        width: 90vw;
        height: 70vh;
    }
    
    .pantry-search-title {
    
        span {
            padding: 2vh;
            font-size: 10vw;
        }
    
        .exit-pantry {
            height: 10vw;
            width: 10vw;
            padding-right: 2vh;
        }

    }
    
    .pantry-search-bar {
        margin-top: 3vh;
        gap: 2vw;
    
        button {
    
            .pantry-search-button {
                height: 7vw;
                width: 7vw;
                padding: 1vh;
            }
        }
    
        input {
            width: 60vw;
            height: 6vh;
            font-size: 8vw;
        }
    }
    
    
    .pantry-search-results-container {
        margin-top: 3vh;
        height: 35vh;
    
        .pantry-search-results-box {
            gap: 5vh;
            
        }
    
        .pantry-search-results {
            width: 76vw;
            padding: 15px;
    
            span {
                font-size: 8vw;
            }
            
            button {
                font-size: 5vw;
                padding: 2vw 5vw;
            }

        }
    }
}