.reset-modal-container, .reset-modal-overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 5;
}

.reset-modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset-modal-overlay {
    background: rgba(49,49,49,0.8);
}

.reset-modal-content {
    position: relative;
    z-index: 5;
    width: 40%;
}


.reset-options-container{
    background: white;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
}


.reset-options-title {
    text-align: center;
    background-color: #FAAB78;
    padding: 1rem;
    border-radius: 10px 10px 0 0;

    span {
        font-size: 2.5rem;
        color: white;
    }
}

.reset-options-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem;
    gap: 2rem;

    button {
        padding: 1rem;
        font-size: 2rem;
        font-weight: 500;
        border-radius: 10px;
        color: #FAAB78;
        background-color: white;
        border: 3px solid #FAAB78;
        width: 100%;
    }
    
    button:hover {
        cursor: pointer;
        color: white;
    }

    .reset-yes:hover {
        border-color: #5fdd5f;      
        background-color: #5fdd5f;
    }

    .reset-no:hover {
        border-color: #d12e2e;
        background-color: #d12e2e;
    }
}

.popup {
    animation: popup 300ms ease-in-out forwards;
}

@keyframes popup {
    0%{
      transform: scale(0);
    }
    100%{
      transform: scale(1);
    }
  }

  @media screen and (max-width: 780px) {
    .reset-modal-container {
        padding: 0 2rem;
    }

    .reset-modal-content {
        width: 100%;
    }
  }