.quantity-modal-container, .quantity-modal-overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.quantity-modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.quantity-modal-overlay {
    background: rgba(49,49,49,0.8);
}


.quantity-values-container {
    background: white;
    border-radius: 10px;
    padding: 1vh;
    font-family: 'Inter', sans-serif;
    text-align: center;

    button {
        font-size: 3vh;
        padding: 1vh 8vw;
        border-radius: 10px;
        border: 3px solid #90F1B7;
        background-color: white;
        color: #90F1B7;
    }

    button:hover {
        background-color: #90F1B7;
        color: white;
        cursor: pointer;
    }
}

.quantity-container {
    width: 92%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
    font-size: 4vh;
    color: #666666;

    input {
        font-size: 4vh;
        width: 5vw;
    }
}


.popup {
    animation: popup 300ms ease-in-out forwards;
}

@keyframes popup {
    0%{
      transform: scale(0);
    }
    100%{
      transform: scale(1);
    }
  }

  @media screen and (max-width: 480px) {
    .quantity-modal-container, .quantity-modal-overlay {
        height: 100%;
    }
    
    
    .quantity-values-container {
        width: 90vw;
    
        button {
            font-size: 10vw;
            padding: 1vh 8vw;
        }
    }
    
    .quantity-container {
        width: 90vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1vw;
        font-size: 10vw;
        color: #666666;
        margin-bottom: 4vh;
    
        input {
            font-size: 10vw;
            width: 15vw;
        }
    }
  }