.settings-container {
    background-color: #FFDCA9;
    padding: 2rem;
    font-family: 'Inter', sans-serif;
    color: #FAAB78;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;

    span {
        font-size: 3rem;
        font-weight: 500;

    }

    hr {
        display: none;
    }
}

.mobile {
    display: none;
}


.option:hover {
    cursor: pointer;
    text-decoration: underline;
}


.log-out {
    margin-right: 10px;
}


@media only screen and (max-width: 1000px) {

    .mobile {
        display: block;
    }

    .mobile:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    .settings-container {
        span {
            font-size: 2.5rem;
        }
    }
}

