.login-container {
    min-height: 100vh;
    padding: 5rem 0;
    background-color: #FCF9BE;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    padding: 3rem;
    border-radius: 20px;
    background-color: white;

    button {
        border-radius: 20px;
        padding: 0.5rem 2rem;
        border: 3px solid #FAAB78;
        background-color: #FAAB78;
        font-size: 2rem;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        color: white;
        margin-bottom: 5px;
    }

    button:hover {
        background-color: white;
        color: #FAAB78;
        cursor: pointer;
    }
}

.login-button-container, .login-title-container {
    text-align: center;
}

.login-title {
    font-size: 4rem;
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
    color: #FAAB78;
}

.login-form {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    width: 100%;

    input {
        width: 100%;
        font-size: 2rem;
        border-radius: 5px;
        border: 2px solid #FAAB78;
    }

    label {
        display: block;
        margin-top: 2rem;
        margin-bottom: 5px;
        font-size: 2rem;
        color: #FAAB78;
    }
}

.login-info {
    margin: 2rem 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    color: #FAAB78;

    .login-block {
        display: block;
        margin-bottom: 15px;
    }

    .checkbox {
        margin-right: 10px;
    }

    .checkbox:hover {
        cursor: pointer;
        color: #551a8b;
    }

    .signup-link {
        margin-left: 5px;
    }

    .signup-link:hover {
        cursor: pointer;
        text-decoration: underline;
    }

}

@media screen and (max-width: 768px) {   
    .login-container {
        padding: 5rem 2rem;
    }
     
    .login-box {
        border-radius: 20px;
        background-color: white;
    
        button {
            border-radius: 20px;
            border: 3px solid #FAAB78;
            background-color: #FAAB78;
            font-family: 'Inter', sans-serif;
            font-weight: 500;
            color: white;
            margin-bottom: 5px;
        }
    
    }
    
    
}